.env

# BACKEND
/backend/__pycache__

# FRONTEND 
/frontend/node_modules
backend/db.sqlite3
/backend/database/__pycache__
/backend/tests/__pycache__
/backend/tests/__pycache__
/backend/tests/__pycache__
